{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for brand in brands %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if brand == 'Sony' %}
                            <a href="{% url 'sony_tvs' %}">
                        
                        {% endif %}
                            <img class="card-img-top" src="{% static 'images/' %}{{ brand_logos|dict_key:brand }}" alt="{{ brand }} Logo">
                        </a>
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ brand }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
