{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<section id="home-section" class="hero">


  
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-dark" id="ftco-navbar">
      <form action="{% url 'search' %}" method="get" class="search-form">
        <input type="text" name="query" placeholder="Search for Products...">
        <button type="submit" class="btn btn-primary" style="background: url({% static 'images/search.png' %}) no-repeat center; background-size: contain; border: none; width: 32px; height: 32px;">
          <span class="sr-only">Search</span>
        </button>
      </form>



      <div class="container">
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Televisions</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'all_brands' %}">All Brands</a>
            <a class="dropdown-item" href="{% url 'sony_tvs' %}">Sony</a>
            <a class="dropdown-item" href="{% url 'lg_tvs' %}">LG</a>
            <a class="dropdown-item" href="{%url 'hisense_tvs'%}">Hisense</a>
            <a class="dropdown-item" href="tlc_tvs">TCL</a>
            <a class="dropdown-item" href="{% url 'skyworth_tvs' %}">Skyworth</a>
            <a class="dropdown-item" href="{% url 'vitron_tvs' %}">Vitron</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Audio</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'audio_list' %}">Audio Systems</a>
            <a class="dropdown-item" href="{% url 'soundbars' %}">Sound bars</a>
            <a class="dropdown-item" href="{% url 'hometheatres' %}">Home Theatres</a>
            <a class="dropdown-item" href="{% url 'subwoofers' %}">Subwoofers</a>
            <a class="dropdown-item" href="{% url 'hifisystems' %}">HIFI Systems</a>
            <a class="dropdown-item" href="{% url 'headphones' %}">Earphones & Headphones</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Laptops</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'laptops' %}">All laptops</a>
            <a class="dropdown-item" href="{% url 'hp_laptops' %}">HP</a>
            <a class="dropdown-item" href="{% url 'dell_laptops' %}">DELL</a>
            <a class="dropdown-item" href="{% url 'asus_laptops' %}">ASUS</a>
            <a class="dropdown-item" href="{% url 'mac_laptops' %}">MACBOOK</a>
            <a class="dropdown-item" href="{% url 'lenovo_laptops' %}">LENOVO</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home & Living</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <h6>Large Appliances</h6>
            <a class="dropdown-item" href="{% url 'fridges' %}">Fridges</a>
            <a class="dropdown-item" href="{% url 'cookers' %}">Cookers</a>
            <a class="dropdown-item" href="{% url 'freezers' %}">Freezers</a>
            <a class="dropdown-item" href="{% url 'washing_machines' %}">Washing Machines</a>
            <a class="dropdown-item" href="{% url 'water_dispensers' %}">Water Dispensers</a>
            <a class="dropdown-item" href="{% url 'vacuum_cleaners' %}">Vacuum Cleaners</a>
            
            <h6>Small Appliances</h6>
            <a class="dropdown-item" href="{% url 'airfryers' %}">Airfryers</a>
            <a class="dropdown-item" href="{% url 'blenders' %}">Blenders</a>
            <a class="dropdown-item" href="{% url 'juicers' %}">Juicers</a>
            <a class="dropdown-item" href="{% url 'food_processors' %}">Food Processors</a>
            <a class="dropdown-item" href="{% url 'electric_kettles' %}">Electric Kettles</a>
            <a class="dropdown-item" href="{% url 'coffee_makers' %}">Coffee Makers</a>
        
            <h6>Garment Care</h6>
            <a class="dropdown-item" href="{% url 'iron_boxes' %}">Iron Boxes</a>
        
            <h6>Waste Management</h6>
            <a class="dropdown-item" href="{% url 'dustbin' %}">Dustbin</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Computing</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'laptops' %}">Laptops</a>
            <a class="dropdown-item" href="{% url 'tablets' %}">Tablets</a>
            <a class="dropdown-item" href="{% url 'all_in_one' %}">All in One</a>
            <a class="dropdown-item" href="{% url 'desktops' %}">Desktops</a>
            <a class="dropdown-item" href="{% url 'computer_accessories' %}">Computer Accessories</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Phones & Tablets</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'samsung' %}">Samsung</a>
            <a class="dropdown-item" href="{% url 'huawei' %}">Huawei</a>
            <a class="dropdown-item" href="{% url 'i_phones' %}">Iphones</a>
            <a class="dropdown-item" href="{% url 'nokia' %}">Nokia</a>
            <a class="dropdown-item" href="{% url 'oneplus' %}">Oneplus</a>
            <a class="dropdown-item" href="{% url 'xiaomi' %}">Xiaomi</a>
            <a class="dropdown-item" href="{% url 'oppo' %}">Oppo</a>
            <a class="dropdown-item" href="{% url 'realme' %}">Realme</a>
            <a class="dropdown-item" href="{% url 'vivo' %}">Vivo</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lighting & Electricals</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Personal Care</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'female_grooming' %}">Female Grooming</a>
            <a class="dropdown-item" href="{% url 'male_grooming' %}">Male Grooming</a>
            <a class="dropdown-item" href="{% url 'dryers' %}">Hair Dryers & Straighteners</a>
            <a class="dropdown-item" href="{% url 'toothbrush' %}">Electric Toothbrush</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gaming</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'play_station_consoles' %}">Play Station Consoles</a>
            <a class="dropdown-item" href="{% url 'xbox_consoles' %}">Xbox Consoles</a>
            
            
            <a class="dropdown-item" href="{% url 'gaming_controllers' %}">Gaming Controllers</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'shop' %}">Shop</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">Wishlist</a>


            <a class="dropdown-item" href="{% url 'checkout' %}">Checkout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
</section>


<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'images/bg8.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2">We serve All your Electrical  &amp; Electronics needs</h1>
            <h2 class="subheading mb-4">We deliver County-Wide</h2>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url({% static 'images/bg11.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2">100% Original</h1>
            <h2 class="subheading mb-4">We deliver original &amp; tested products</h2>
          </div>

    

        </div>
      </div>
    </div>
    <div class="slider-item" style="background-image: url({% static 'images/bg31.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2"></h1>
            <h2 class="subheading mb-4"></h2>
          </div>
          
        </div>
      </div>
    </div>

    <div class="slider-item" style="position: relative;">
      <video autoplay muted loop id="background-video" style="position: absolute; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
        <source src="{% static 'videos/Airfryer_Background.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="overlay" style="position: absolute; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 0;"></div>
      <div class="container" style="position: relative; z-index: 1;">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2"></h1>
            <h2 class="subheading mb-4"></h2>
          </div>
        </div>
      </div>
    </div>

  <div class="slider-item" style="background-image: url({% static 'images/output.png' %});">
    <div ></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-sm-12 ftco-animate text-center">
          <h1 class="mb-2"></h1>
          <h2 class="subheading mb-4"></h2>
</div>
</div>
</div>
</div>


  <div class="slider-item" style="background-image: url({% static 'images/output.png' %});">
    <div ></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-sm-12 ftco-animate text-center">
          <h1 class="mb-2"></h1>
          <h2 class="subheading mb-4"></h2>
</div>
</div>
</div>
</div>
</section>



<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters ftco-services">
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-shipped"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Fast Delivery</h3>
            <span>1-2 hrs in Nairobi</span>
            <p>Next Day delivery outside Nairobi</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-diet"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">ORIGINAL PRODUCTS</h3>
            <span>Product well packaged</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-award"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Superior Quality</h3>
            <span>Quality Products</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-customer-service"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Support</h3>
            <span>24/7 Support</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Our Products</span>
        
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      {% if products %}
      {% for product in products %}
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="{% url 'product-details' product.id %}" class="img-prod"><img class="img-fluid" src="{{ product.photo.url }}" alt="Colorlib Template">
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="{% url 'product-details' product.id %}">{{ product.name }}</a></h3>
            <p> {{ product.brand }}</p>
            <div class="pricing">

            </div>
            <div class="d-flex">
                    

              <div class="pricing">

              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="ion-ios-menu"></i></span>
                </a>
                <a href="" class="buy-now d-flex justify-content-center align-items-center mx-1">
                  <span><i class="ion-ios-cart"></i></span>
                </a>
                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h2 style="margin: auto">Sorry! There is no Products Available!</h2>
      {% endif %}
    </div>
  </div>
</section>

<section class="ftco-section img" style="background-image: url({% static 'images/bunch.jpg' %});">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
        <span class="subheading">Best Price For You</span>
        <h2 class="mb-4">Deal of the day</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
        <h3><a href="#">Juicer</a></h3>
        <span class="price">$1000 <a href="#">now $500 only</a></span>
        <div id="timer" class="d-flex mt-5">
          <div class="time" id="days"></div>
          <div class="time pl-3" id="hours"></div>
          <div class="time pl-3" id="minutes"></div>
          <div class="time pl-3" id="seconds"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <span class="subheading">Testimony</span>
        <h2 class="mb-4">Our satisfied customer says</h2>
        <p>Shop with us and experience the seamless blend of technology and comfort.</p>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_2.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Interface Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_3.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">System Analyst</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/philips.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/schneider-electric-vector-logo.jpg' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/partner-3.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/partner-4.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/partner-5.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
        <span>Get e-mail updates about our latest shops and special offers</span>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <form class="subscribe-form" method=POST>
          <div class="form-group d-flex">
            {% csrf_token %}
            {{ forms.email }}
            <input type="submit" value="Subscribe" class="submit px-3">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
