{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<section id="home-section" class="hero">



  
    <style>
      .navbar-custom {
        background-color: black  !important; /* Dark Green */
        padding: 10px 0;
      }
      .navbar-custom .nav-link {
        color: white !important; /* White text */
        font-size: 16px;
        padding: 15px 20px;
        transition: color 0.3s ease;
      }
      .navbar-custom .nav-link:hover {
        color: #66ff66 !important; /* Light Green on hover */
      }
      .navbar-custom .dropdown-menu {
        background-color: #003300; /* Darker Green */
        border: none;
        border-radius: 0;
      }
      .navbar-custom .dropdown-menu .dropdown-item {
        color: #ffffff;
        transition: background-color 0.3s ease;
      }
      .navbar-custom .dropdown-menu .dropdown-item:hover {
        background-color: #004d00; /* Slightly lighter Dark Green */
      }

          .search-form {
      display: flex;
      align-items: center;
      justify-content: flex-start; /* Align to the left */
      margin: 20; /* Ensure no margin */
      padding: -20; /* Ensure no padding */
    }

      .search-form input[type="text"] {
        width: 400px; /* Adjust the width as needed */
        padding: 10px; /* Add padding for a better look */
        border: 1px solid #ccc; /* Optional: Add border */
        border-radius: 4px; /* Optional: Add border radius */
        margin-right: 10px; /* Add space between input and button */
      }

      
      .search-form input[type="text"]:focus {
        border-color: #00cc00; /* Slightly darker Light Green on focus */
      }
      .search-form button {
        background-color: transparent;
        border: none;
        outline: none;
      }
    </style>

  
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-dark" id="ftco-navbar">
      <form action="{% url 'search' %}" method="get" class="search-form">
        <input type="text" name="query" placeholder="Search for Products...">
        <button type="submit" class="btn btn-primary" style="background: url({% static 'images/search.png' %}) no-repeat center; background-size: contain; border: none; width: 32px; height: 32px;">
          <span class="sr-only">Search</span>
        </button>
      </form>



      <div class="container">
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="{% url 'add_item' %}" class="nav-link">Add item</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Televisions</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'all_brands' %}">All Brands</a>
            <a class="dropdown-item" href="{% url 'sony_tvs' %}">Sony</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">LG</a>
            <a class="dropdown-item" href="{%url 'hisense_tvs'%}">Hisense</a>
            <a class="dropdown-item" href="">TCL</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Skyworth</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Vitron</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Audio</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'audio_list' %}">Audio Systems</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Sound bars</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">Home Theatres</a>
            <a class="dropdown-item" href="product-single.html">Subwoofers</a>
            <a class="dropdown-item" href="">HIFI Systems</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Earphones & Headphones</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Laptops</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'audio_list' %}">HP</a>
            <a class="dropdown-item" href="{% url 'shop' %}">DELL</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">ASUS</a>
            <a class="dropdown-item" href="product-single.html">MACBOOK</a>
            <a class="dropdown-item" href="">LENOVO</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Earphones & Headphones</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home & Living</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'shop' %}">Fridges</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Cookers</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Airfryers</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Blenders</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Juicers</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Food Processors</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Electric Kettles</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">Washing Machines</a>
            <a class="dropdown-item" href="product-single.html">Coffee Makers</a>
            <a class="dropdown-item" href="">Water Dispensers</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Vacuum Cleaners</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Freezers</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Iron Boxes</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Dustbin</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Computing</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'shop' %}">Laptops</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Tablets</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">All in One</a>
            <a class="dropdown-item" href="{% url 'computing_list' %}">Desktops</a>
            <a class="dropdown-item" href="">Computer Accessories</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Checkout</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Phones & Tablets</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'shop' %}">Samsung</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Huawei</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">Nokia</a>
            <a class="dropdown-item" href="product-single.html">Oneplus</a>
            <a class="dropdown-item" href="">Xiaomi</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">Oppo</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">Realme</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">Vivo</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Itel</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lighting & Electricals</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'shop' %}">LED Lights</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Electricals</a>
            
          </div>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Personal Care</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'shop' %}">Female Grooming</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Male Grooming</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">Hair Dryers & Straighteners</a>
            <a class="dropdown-item" href="product-single.html">Electric Toothbrush</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gaming</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'shop' %}">Play Station Consoles</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Xbox Consoles</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">Play Station Games</a>
            <a class="dropdown-item" href="product-single.html">Xbox Games</a>
            <a class="dropdown-item" href="">Gaming Controllers</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Checkout</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="{% url 'shop' %}">Shop</a>
            <a class="dropdown-item" href="{% url 'shop' %}">Shop</a>
            <a class="dropdown-item" href="{% url 'wishlist' %}">Wishlist</a>
            <a class="dropdown-item" href="product-single.html">Single Product</a>
            <a class="dropdown-item" href="">Cart</a>
            <a class="dropdown-item" href="{% url 'checkout' %}">Checkout</a>
          </div>
        </li>


      </ul>
    </div>
  </div>
</nav>
</section>


<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url({% static 'images/bg8.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2">We serve All your Electrical  &amp; Electronics needs</h1>
            <h2 class="subheading mb-4">We deliver County-Wide</h2>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url({% static 'images/bg11.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2">100% Original</h1>
            <h2 class="subheading mb-4">We deliver original &amp; tested products</h2>
          </div>

    

        </div>
      </div>
    </div>
    <div class="slider-item" style="background-image: url({% static 'images/bg31.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2"></h1>
            <h2 class="subheading mb-4"></h2>
          </div>
          
        </div>
      </div>
    </div>
    <div class="slider-item" style="background-image: url({% static 'images/bg18.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2"></h1>
            <h2 class="subheading mb-4"></h2>
  </div>
</div>
</div>
  </div>
</section>

<div ></div>

<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters ftco-services">
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-shipped"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Fast Delivery</h3>
            <span>1-2 hrs in Nairobi</span>
            <span>Next Day delivery outside Nairobi</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-diet"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">ORIGINAL PRODUCTS</h3>
            <span>Product well packaged</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-award"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Superior Quality</h3>
            <span>Quality Products</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-customer-service"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Support</h3>
            <span>24/7 Support</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading">Our Products</span>
        
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      {% if products %}
      {% for product in products %}
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="{% url 'product-details' product.id %}" class="img-prod"><img class="img-fluid" src="{{ product.photo.url }}" alt="Colorlib Template">
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="{% url 'product-details' product.id %}">{{ product.name }}</a></h3>
            <p> {{ product.brand }}</p>
            <div class="pricing">

            </div>
            <div class="d-flex">
                    

              <div class="pricing">

              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="ion-ios-menu"></i></span>
                </a>
                <a href="" class="buy-now d-flex justify-content-center align-items-center mx-1">
                  <span><i class="ion-ios-cart"></i></span>
                </a>
                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h2 style="margin: auto">Sorry! There is no Products Available!</h2>
      {% endif %}
    </div>
  </div>
</section>

<section class="ftco-section img" style="background-image: url({% static 'images/bunch.jpg' %});">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
        <span class="subheading">Best Price For You</span>
        <h2 class="mb-4">Deal of the day</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
        <h3><a href="#">Juicer</a></h3>
        <span class="price">$1000 <a href="#">now $500 only</a></span>
        <div id="timer" class="d-flex mt-5">
          <div class="time" id="days"></div>
          <div class="time pl-3" id="hours"></div>
          <div class="time pl-3" id="minutes"></div>
          <div class="time pl-3" id="seconds"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <span class="subheading">Testimony</span>
        <h2 class="mb-4">Our satisfied customer says</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_2.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Interface Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_3.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text text-center">
                <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Garreth Smith</p>
                <span class="position">System Analyst</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/philips.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/schneider-electric-vector-logo.jpg' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/partner-3.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/partner-4.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="{% static 'images/partner-5.png' %}" class="img-fluid" alt="Colorlib Template"></a>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
        <span>Get e-mail updates about our latest shops and special offers</span>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <form class="subscribe-form" method=POST>
          <div class="form-group d-flex">
            {% csrf_token %}
            {{ forms.email }}
            <input type="submit" value="Subscribe" class="submit px-3">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
